* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.authWrapper {
  height: 78.84vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  border-radius: 50px;
  display: flex;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

  .formAnimation {
    height: 400px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Josefin Sans";
    h2 {
      font-size: 2.7rem;
    }

    .inputBlock {
      display: flex;
      align-items: center;
      gap: 10px;
      i {
        font-size: 2rem;
      }
    }

    .loginLink {
      text-decoration: none;
      color: gray;
      margin-bottom: 20px;
    }

    span {
      cursor: pointer;
    }
  }
}

.registrationHidden {
  transform: translateX(200%);
}

.loginHidden {
  transform: translateX(-200%);
}

.loginWrapper {
  position: relative;
  left: 400px;
  transition: transform 1s ease-in-out;
  background: rgb(246, 221, 221);
  background: linear-gradient(
    188deg,
    rgba(246, 221, 221, 1) 0%,
    rgba(255, 230, 235, 1) 22%,
    rgba(247, 229, 214, 1) 100%
  );
}

.registrationWrapper {
  position: relative;
  right: 400px;
  transition: transform 1s ease-in-out;
  background: rgb(233, 246, 221);
  background: linear-gradient(
    188deg,
    rgba(233, 246, 221, 1) 0%,
    rgba(230, 255, 246, 1) 22%,
    rgba(214, 226, 247, 1) 100%
  );
}

.loginSpan {
  color: darkgoldenrod;
}

.registerSpan {
  color: blue;
}
