.page {
  background: rgb(250, 204, 215);
  background: linear-gradient(
    4deg,
    rgba(250, 204, 215, 1) 0%,
    rgba(255, 255, 255, 1) 53%
  );
  padding-top: 75px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #280404;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: brown;
}
