.secondaryButton {
  border: 0;
  font-family: "IBM Plex Mono";
  font-size: 1.5rem;
  cursor: pointer;
  height: 50px;
  border-radius: 30px;
  background: transparent;
  border: solid 5px #280404;
  color: #280404;
  &:active {
    transform: scale(0.95);
  }
}
