* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shopWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.filters {
  background: rgb(246, 221, 221);
  background: linear-gradient(
    188deg,
    rgba(246, 221, 221, 1) 0%,
    rgba(255, 230, 235, 1) 22%,
    rgba(247, 229, 214, 1) 100%
  );
  border-radius: 15px;
  font-size: 1.4rem;
  height: 300px;
  width: 200px;
  font-family: "Montserrat";
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 50px;
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    width: 100%;
    li {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.activeCategory {
  background-color: #220404;
  color: white;
  width: 100%;
  border-radius: 40px;
  align-items: center;
}
