* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  height: 200px;
  background-color: #220404;
  display: flex;
  justify-content: space-around;
}

.footerHeader {
  font-size: 2.4rem;
  color: white;
  font-family: "Josefin Sans";
  text-align: center;
  margin: 18px 0 18px 0;
}

.footerContent {
  font-size: 0.7rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    i {
      font-size: 1.4rem;
    }
  }

  * {
    text-decoration: none;
    color: gold;
  }
}
