* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

.hero {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;

  h3 {
    font-size: 1.5rem;
    font-family: "Ubuntu";
    color: #280404;
  }

  h1 {
    font-size: 5rem;
  }

  * {
    box-sizing: content-box;
  }
}

.logo {
  height: 500px;
  transform: translateY(-200%);
}

.logo.animated {
  transform: translateY(0) rotate(360deg);
  transition: transform 1s ease-in-out;
}

.fadeMotto {
  opacity: 0;
}

.fadeMotto.visible {
  animation: fadeIn 2s forwards;
  opacity: 1;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 100px;
  margin-bottom: 80px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px 0 50px;
}

.infoContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoText {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h4 {
    font-family: "Josefin Sans";
    font-size: 2.4rem;
  }

  p {
    font-family: "Ubuntu";
    font-size: 1.2rem;
  }
}

.infoAnimation {
  height: 400px;
}

#catalogBlock {
  .infoContent {
    .infoText {
      transform: translateX(-200%);
    }

    .infoAnimation {
      transform: translateX(200%);
    }
  }
}

#catalogBlock.visible {
  .infoContent {
    .infoText {
      transform: translateX(0);
      transition: transform 1.5s ease-in-out;
    }

    .infoAnimation {
      transform: translateX(0);
      transition: transform 1.5s ease-in-out;
    }
  }
}

#artistBlock {
  .infoContent {
    .infoText {
      transform: translateX(200%);
    }

    .infoAnimation {
      transform: translateX(-200%);
    }
  }
}

#artistBlock.visible {
  .infoContent {
    .infoText {
      transform: translateX(0);
      transition: transform 1s ease-in-out;
    }

    .infoAnimation {
      transform: translateX(0);
      transition: transform 1s ease-in-out;
    }
  }
}

.qualitiesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  margin: 0 50px 0 50px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #280404;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: brown;
}

@media (max-width: 650px) {
  .hero {
    img {
      height: 280px;
    }
    h1 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 530px) {
  .infoWrapper {
    margin-top: 75px;
  }

  .infoBlock {
    margin-bottom: 100px;
  }
  .infoContent {
    flex-direction: column;
    text-align: center;
    text-wrap: wrap;

    h4 {
      font-size: 1.7rem;
    }

    p {
      display: none;
    }

    .infoAnimation {
      order: 1;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
