.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 75px;
  right: 0;
  transform: translateX(150%);
  transition: 1s ease-in-out;
}

.menu.active {
  transform: translateX(0);
}

.blur {
  width: 100%;
  height: 100vh;
  right: 30%;
  backdrop-filter: blur(2px);
  position: absolute;
}

.menuContent {
  position: absolute;
  right: 0;
  width: 30%;
  height: 100%;
  background: rgb(164, 144, 124);
  background: radial-gradient(
    circle,
    rgba(164, 144, 124, 1) 0%,
    rgba(50, 30, 30, 1) 100%
  );
  flex-direction: column;
  align-items: center;
  ul {
    list-style: none;
  }
}

.menuHeader {
  padding: 10px;
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  border-bottom: solid brown 7px;
  width: 100%;
  text-align: center;
  color: gold;
}

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-family: "IBM Plex Mono", sans-serif;
  * {
    text-decoration: none;
    font-size: 2rem;
    color: whitesmoke;
  }
  margin-top: 30px;
  cursor: pointer;
}

.startButton {
  background-color: goldenrod;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
  * {
    color: #280404;
  }
}

@media (max-width: 800px) {
  .blur {
    right: 0;
  }

  .menuContent {
    width: 100vw;
  }
}
