* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: -75px;
  left: 0;
  width: 100%;
  background-color: #e1d9d1;
  height: 75px;
  transition: all 1s ease-in-out, 0.7s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
}

.navbar.visible {
  top: 0;
}

.navbar.scrolled {
  background-color: #3c0c0c;
  transition: all 1s ease-in-out;

  .logo {
    color: goldenrod;
    transition: 0.3s;
  }
}

.logo {
  margin-left: 100px;
  font-size: 3.5rem;
  text-decoration: none;
  font-family: "VT323";
  color: #280404;

  :hover {
    border: solid 10px white;
  }
}

.search {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;

  :after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, yellow, brown);
    z-index: 1;
    cursor: default;
  }

  * {
    height: 40px;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
  }

  input {
    outline: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: black;
  }

  button {
    cursor: pointer;
  }
}

.burgerButton {
  margin-right: 100px;
  margin-left: 50px;
}

@media (max-width: 800px) {
  .logo {
    margin-left: 10px;
    font-size: 2rem;
  }

  .burgerButton {
    margin: 0;
  }

  .search {
    display: none;
  }
}
